.place__link {
    font-family: Inter, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}