@import url("../header/__logo/header__logo.css");
@import url("../header/__menu/header__menu.css");
@import url("../header/__list/header__list.css");
@import url("../header/__link/header__link.css");
@import url("../header/__link/_active/header__link_active.css");



.header {
    max-width: 1184px;
    position: relative;
    background: #2A2C2F;
    top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*
.header__logo {
    width: 176.58px;
}

.header__menu {
    color: white;
    list-style: none;
    font-size: 16px;

}

.header__list {
    display: inline-block;
}


.header__link {
    width: 30px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 23px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
    margin: 0;
    margin-left: 18px;
}

.header__link_active {
    text-decoration-line: underline;
}

*/


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: 90%;
    }



    .header__logo {
        width: 176.58px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        width: 176.58px;
    }

    .header {
        width: 95%;
    }

}



@media screen and (min-width: 375px) and (max-width: 767px) {
    .header__logo {
        width: 142px;
    }

    .header__link-active {
        font-size: 1em;
        line-height: 1;

    }

    .header__link {
        font-size: 1em;
        line-height: 1;

    }

    .header {
        max-width: 90%;
        top: 16px;
    }

}


@media screen and (min-width: 320px) and (max-width: 374px) {
    .header__logo {
        width: 142px;
    }

    .header__link-active {
        font-size: 1em;
        line-height: 1;

    }

    .header__link {
        font-size: 1em;
        line-height: 1;

    }


    .header {
        max-width: 90%;
        top: 16px;
    }



}