.lead__subtitle {
    width: 583px;
    left: 429px;
    top: 362px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 48px;

}