.place {
    margin: 0;
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}