@import url("../footer/__two-columns/footer__two-columns.css");
@import url("../footer/__list/footer__list.css");
@import url("../footer/__item/footer__item.css");
@import url("../footer/__link/footer__link.css");
@import url("../footer/__copyright/footer__copyright.css");

.footer {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2a2c2f;
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 0;
    margin-bottom: 48px;
}


/*

.footer__two-columns {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.footer__item {
    display: inline;
}

.footer__link {
    margin: 0;
    margin-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

*/


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: 90%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__link {
        margin-right: 9px;
        font-size: 1em;
        line-height: 2;
    }

    .footer__copyright {
        font-size: 1em;
        line-height: 2;
    }

    .footer {
        width: 95%;
        margin-top: 102px;
    }



}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .footer {
        margin-top: 64px;
        width: 90%;
    }


    .footer__two-columns { 
        flex-direction: column;

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__copyright {
        align-self: self-start;
        font-size: 14px;
        line-height: 20px;
        margin-top: 48px;

    }

    .footer__link{
        line-height: 2;

    }

    


}



@media screen and (min-width: 320px) and (max-width: 374px) { 
    .footer {
        margin-top: 64px;
        width: 90%;
    }


    .footer__two-columns { 
        flex-direction: column;

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__copyright {
        align-self: self-start;
        font-size: 14px;
        line-height: 20px;
        margin-top: 48px;

    }

    .footer__link{
        line-height: 2;

    }

}