@import url('../__item/video__item.css');

.video__container {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.video__link {
    text-decoration: none;
    opacity: 1 !important;
}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video__container {
        width: 100%;
    }
    .video__item-bg {
        width: 98%;
    }
    
}